<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %>

<body>
    

    <section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="/images/antartidainspeccion.png"
                class="img-fluid" alt="logo">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <form>
              
                 <!-- First Name input -->
                <div class="form-outline mb-4">
                    <label class="form-label text-primary" for="form3Example3">Marca</label>
                    <input type="text" id="form3Example3" class="form-control form-control-md"
                    placeholder="Ingresa tu nombre" />
                </div>
                 <!-- Last Name input -->
                <div class="form-outline mb-4">
                    <label class="form-label text-primary" for="form3Example3">Modelo</label>
                    <input type="text" id="form3Example3" class="form-control form-control-md"
                    placeholder="Ingresa tu apellido" />
                </div>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="form-label text-primary" for="form3Example3">Año</label>
                    <input type="email" id="form3Example3" class="form-control form-control-md"
                    placeholder="Ingresá tu dirección de correo electrónico" />
                </div>
                 <!-- Cellular input -->
                <div class="form-outline mb-4">
                    <label class="form-label text-primary" for="form3Example3">Patente</label>
                    <input type="number" id="form3Example3" class="form-control form-control-md"
                    placeholder="Ingresa tu número de celular" />
                </div>
                <!-- Password input -->
                <div class="form-outline mb-3">
                    <label class="form-label text-primary" for="form3Example4">Comentarios</label>
                    <input type="password" id="form3Example4" class="form-control form-control-md"
                    placeholder="Ingresá tu contraseña" />
                </div>

                <div class="images">

                  <h2>Tomá las fotos de tu vehículo</h2>
                  
        
                  <label> <img src="/images/frente.jpg" alt="frente"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
                  </svg> Frente <input type="file" accept="image/*" capture="environment"></label>
               

               
                  <label> <img src="/images/culata.jpg" alt="frente"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
                  </svg> Culata <input class= "image" type="file" accept="image/*" capture="environment"></label>
               

                
                  <label> <img src="/images/lateral izquierdo.jpg" alt="frente"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
                  </svg> Lat. izquierdo <input type="file" accept="image/*" capture="environment"></label>
             

               
                  <label> <img src="/images/lateral derecho.jpg" alt="frente"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
                  </svg> Lat. derecho <input type="file" accept="image/*" capture="environment"></label>
            
      
                
      
                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="button" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Guardar vehículo</button>
                  <p class="small fw-bold mt-2 pt-1 mb-0">Ya tenés una cuenta?<a href="#!"
                      class="link-danger">Ingresá</a></p>
                </div>
      
              </form>
            </div>
          </div>
        </div>
        <div
          class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
          <!-- Copyright -->
          <div class="text-white mb-3 mb-md-0">
            Copyright © 2020. All rights reserved.
          </div>
          <!-- Copyright -->
      
          <!-- Right -->
          <div>
            <a href="#!" class="text-white me-4">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#!" class="text-white me-4">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#!" class="text-white me-4">
              <i class="fab fa-google"></i>
            </a>
            <a href="#!" class="text-white">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
          <!-- Right -->
        </div>
      </section>

    <script src="/js/nestedSelect.js"></script>
</body>
</html>